@import 'src/components/Main.scss';

// GRID colors:
$demoMain: rgba(51, 153, 204,.2);
$demoMainDark: rgba(51, 153, 204,.6);
$demoBorder: #A18AFF;

.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 16px 16px;
  }
  
  /*Basic Grid Styles*/
  .Grid {
    display: flex;
    flex-flow: row; 
    flex-wrap: wrap;
  }
  
  .Grid-cell {
    flex: 1;
  }
  
  .Demo {
    margin-bottom: 1em;
    background: $demoMain;
    transition: background-color 0.3s ease;
    border: 1px solid $demoBorder;
    border-radius: 3px;
    &:after {
      display: block;
      height: 1px;
     }
    &:hover {
      background: $demoMainDark;
    }
  }
  
  // Grid Style Modifiers
  /* With gutters*/
  $gutter: 1.5em;
  .Grid--gutters {
    margin-left: -$gutter;
    .Grid-cell {
      margin-left: $gutter;
    }
    .Grid--nested {
      .Grid-cell:first-of-type {
        .Demo {
          margin-right: 1em;
        }
      }
    } 
  
  }
  
  /* Justify per row*/
  .Grid--right {
    justify-content: flex-end;
  }
  .Grid--center {
    justify-content: center;
  }
   
  /* Alignment per row */
  .Grid--top {
    align-items: flex-start;
  }
  .Grid--bottom {
    align-items: flex-end;
  }
  .Grid--center {
    align-items: center;
  }
  
  /* Alignment per cell */
  .Grid-cell--top {
    align-self: flex-start;
  }
  .Grid-cell--bottom {
    align-self: flex-end;
  }
  .Grid-cell--center {
    align-self: center;
  }

/* Base classes for all media - Mobile first */
.Grid--cols-2 > .Grid-cell {
    flex: 0 0 calc(100% - #{$gutter}); 
  }
  
  .Grid--cols-3 > .Grid-cell {
    flex: 0 0 1calc(100% - #{$gutter}); 
  }
  
  .Grid--cols-4 > .Grid-cell {
    flex: 0 0 calc(100% - #{$gutter});
  }
  
  .Grid--cols-6 > .Grid-cell {
    flex: 0 0 calc(50% - #{$gutter}); 
  }
  
  .Grid--cols-12 > .Grid-cell {
    flex: 0 0 calc(33.3333% - #{$gutter}); 
  }
  
  .Grid--twoasides {
    .aside, .feed {
      flex: 1 100%;
    }
  }
  
  /* One of -- columns*/
  .Grid--1of2 > .Grid-cell,
  .Grid--1of4 > .Grid-cell:first-of-type,
  .Grid--1of3 > .Grid-cell:first-of-type{
    flex: 0 0 calc(100% - #{$gutter});
  }
  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 50%;
  }
  
  .Grid--fit > .Grid-cell {
    flex: 1;
  }
  .Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  
  /* Tablet (medium) screens */
  @media (min-width: 30em) {
    .Grid--cols-4 > .Grid-cell {
      flex: 0 0 calc(50% - #{$gutter});     
    }
    .Grid--cols-6 > .Grid-cell {
      flex: 0 0 calc(33.3333% - #{$gutter});  
    }
    .Grid--cols-12 > .Grid-cell {
      flex: 0 0 calc(16.6666% - #{$gutter});  
    }
    .Grid--twoasides {
      .aside {
        flex: 1 calc(25% - #{$gutter});
      }
    }
    .Grid--1of2 > .Grid-cell {
      flex: 0 0 50%;
    }
    .Grid--1of6 > .Grid-cell:first-of-type {
      flex: 0 0 30%;
    }
    .Grid--1of4 > .Grid-cell:first-of-type {
      flex: 0 0 50%;
    }
    .Grid--1of3 > .Grid-cell:first-of-type {
      flex: 0 0 calc(100% - #{$gutter});
    }
  }
  
  /* Large screens */
  @media (min-width: 48em) {
    .Grid--cols-2 > .Grid-cell,
    .Grid--cols-3 > .Grid-cell,
    .Grid--cols-4 > .Grid-cell,
    .Grid--cols-6 > .Grid-cell,
    .Grid--cols-12 > .Grid-cell{
      flex: 1;  
    }
    .Grid--twoasides {
      .feed    { flex: 2; }
      .aside   { flex: 1; }
      .aside-1 { order: 1; } 
      .feed    { order: 2; }
      .aside-2 { order: 3; }
    }
    .Grid--1of2 > .Grid-cell {
      flex: 0 0 50%;
    }
    .Grid--1of6 > .Grid-cell:first-of-type {
      flex: 0 0 16.6666%;
    }
    .Grid--1of4 > .Grid-cell:first-of-type {
      flex: 0 0 25%;
    }
    .Grid--1of3 > .Grid-cell:first-of-type {
      flex: 0 0 30%;
    }
    .Grid--gutters.Grid--nested {
      .Grid-cell:first-of-type {
        .Demo {
          margin-right: 0;
        }
      }
    }
  }
      