/////////////////////////////////////
$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$text_color: #f2f2f2;
$secondary_text_color: #878b9e;
$background_color: #121526;
$card_background_color: #23294C; //#1B1F36
$card_border_color: #272D51;
$paragraph_text_size: 15px;
$accent_color: #A18AFF;
$background_secondary: #1B1F36;
$button_background: #8566FF;
/////////////////////////////////////

@import '../components/Menu/MobileMenu/MobileMenu.scss';

html, body {
    margin: 0 auto;
    background-color: $background_color;
    color: $text_color;
    font-family: $font;
    height: 100%;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
}

h4 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.41;
  line-height: 20px;
}

p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 20px;
}

caption {
  color: $secondary_text_color;
  margin-top: 4px;
  font-size: 13px;
}

.link-xs {
  margin: 0;
    @extend caption;
    color: $accent_color;

    &:hover {
      color: darken($accent_color, 5%);
      cursor: pointer;
    }
}

.link {
  @extend p;
  font-weight: 400;
  color: $accent_color;
}


.ava {
    border-radius: 100rem;
    border: 1px solid $text_color ;
    background-color: $secondary_text_color;
    background-position:center;
}

.avatar {
    display: inline-block;
    position: absolute;
}

.self-info {
    display: inline-block;
    margin: 0 auto;
    padding-top: 4px;
    position: relative;
    margin-left: 64px;

    .bio-name {
      @extend h4;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      width: 100%;
    }

    .bio-nickname {
      font-size: 17px;
      font-weight: 600;
      font-style: italic;
      letter-spacing: 0.7px;
      white-space: nowrap;
      color: $secondary_text_color;
      line-height: 20px;
      width: 100%;
    }
}

.Quote {
    background-color: $background_secondary;
    border: none;
    padding: 2px 8px 2px 4px;
    margin-top: 16px;
}

.quote-text {
    font-style: italic;
    font-size: $paragraph_text_size;
    line-height: 18px;
}


.Mobile-menu {
    display: none;
}

.My-Aside {
  padding-top: 24px;
  max-width: 280px;

  .CTA-button {
    margin-top: 32px;
}
}

@media all and (max-width: 800px){
  .aside-2 {
    display: none;
  }
  .aside-1 {
    display: none;
  }

  .Mobile-menu {
    display: flex;
    background-color: $background_secondary;
    margin: auto;
    padding: 4px 16px;
  }
}

@media all and (max-width: 600px) {
    .Wallet {
        display: none;
    }

    .Mobile-menu {
        display: flex;
    }

    .My-Aside {
        display: none;
    }

    .ShareBlock {
      font-size: 12px;
      
      .count{
        padding-left: 8px;
      }

      .icon img {
        width: 20px;
        height: 20px;
      }
    }

    h4 {
      font-size: 13px;
    }

}




