/////////////////////////////////////
$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$text_color: #f2f2f2;
$secondary_text_color: #878b9e;
$background_color: #121526;
$card_background_color: #1B1F36;
$card_border_color: #272D51;
$paragraph_text_size: 15px;
$accent_color: #A18AFF;
/////////////////////////////////////

// GRID colors:
$demoMain: rgba(51, 153, 204,.2);
$demoMainDark: rgba(51, 153, 204,.6);
$demoBorder: #A18AFF;

html, body {
    margin: 0 auto;
    background-color: $background_color;
    color: $text_color;
    font-family: $font;
    height: 100%;
}

h4 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.41;
  line-height: 20px;
}

.wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

/*Basic Grid Styles*/
.Grid {
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
}

.Grid-cell {
  flex: 1;
}

.Demo {
  margin-bottom: 1em;
  background: $demoMain;
  transition: background-color 0.3s ease;
  border: 1px solid $demoBorder;
  border-radius: 3px;
  &:after {
    display: block;
    height: 1px;
   }
  &:hover {
    background: $demoMainDark;
  }
}

// Grid Style Modifiers
/* With gutters*/
$gutter: 1.5em;
.Grid--gutters {
  margin-left: -$gutter;
  //margin-right: $gutter/2;
  .Grid-cell {
    margin-left: $gutter;
  }
  .Grid--nested {
    .Grid-cell:first-of-type {
      .Demo {
        margin-right: 1em;
      }
    }
  } 

}

/* Justify per row*/
.Grid--right {
  justify-content: flex-end;
}
.Grid--center {
  justify-content: center;
}
 
/* Alignment per row */
.Grid--top {
  align-items: flex-start;
}
.Grid--bottom {
  align-items: flex-end;
}
.Grid--center {
  align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start;
}
.Grid-cell--bottom {
  align-self: flex-end;
}
.Grid-cell--center {
  align-self: center;
}

.post-container {
    margin-top: 16px;
    height: 100%;
    background: $card_background_color;
    border: 1px solid $card_border_color;
    border-radius: 4px;
    padding: 16px 8px 8px 8px;
}

.post-auth-desc {
  display: block;
  
  .author_photo {
    padding-left: 16px;
    position: absolute;
    width: 32px;
  }
  
}

.author_info {
    margin-left: 52px;
    position: relative;
    

    .author_name {
        font-weight: 600;
        display: inline-block;
        width: 100%;
    }

    .author_nickname {
        color: $secondary_text_color;
    }

    .location {
        display: inline-block;
        margin-top: 4px;
        padding-right: 8px;
        font-size: 13px;
    }

    .post_date {
        color: $secondary_text_color;
        margin-top: 4px;
        padding-left: 8px;
        font-size: 13px;
    }

    .post_divider {
        clip-path: url('/dot_divider.svg');
    }
}

.post_content {
    padding-left: 56px;
    padding-right: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 22px;

    .post_photo_solo {
        max-width: 1200px;
        padding-right: 16px;
        padding-top: 16px;
    }

    .post_photo_solo {
        img {
            max-width: 1000px;
            width: 100%;
            height: auto;
            border-radius: 4px;
        }
    }

    .divider {
      width: 100%;
      display: block;

      hr {
        border: 0.5px solid $secondary_text_color;
        opacity: 0.5;
      }
    }
    .ShareBlock {
      width: 100%;
      height: 44px;
      display: -webkit-box;
      -webkit-box-align: center;

      font-weight: 400;
      //font-size: 13px;


      .like {
        margin-right: 24px;
      }

      .icon {
        height: 24px;
        width: 24px;
        position: absolute;
      }

      .count {
        position: relative;
        padding-left: 28px;
        color: $secondary_text_color;
      }

      .active{
        color: $accent_color;
      }
  }
}

.main-menu {
  margin-top: 48px;

  .menu-item {
    margin-top: 12px;
      height: 48px;
      display: -webkit-box;
      -webkit-box-align: center;

      .menu-link {
        position: relative;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.7px;
        padding-left: 32px;
    }

      .icon{
          position: absolute;
          width: 24px;
          height: 24px;
      }
  }
}

.main_button{
    background: #8566FF;
    border-radius: 4px;
    width: 100%;
    min-height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #f2f2f2;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    -webkit-line-clamp: 1;
    padding: 12px 12px 12px 12px;

    &:hover {
      background: darken(#8A6FF5, 5%);
      transition: 0.5ms;
  }
}

.secondary_button {
  @extend .main_button;
  background: rgba(161, 138, 255, 0.2);
  color: $accent_color;
  border: 2px solid $accent_color;

  &:hover {
    background: darken(rgba(161, 138, 255, 0.4), 10%);
    color: lighten($accent_color, 10%);
    transition: 0.9ms;
  }
}

.ava {
    border-radius: 100rem;
    border: 1px solid $text_color ;
    margin: 0px 4px 4px 4px;
    background-color: $secondary_text_color;
}

.avatar {
    display: inline-block;
    position: absolute;
}



.self-info {
    display: inline-block;
    margin: 0 auto;
    padding-top: 4px;
    position: relative;
    margin-left: 64px;

    .bio-name {
      @extend h4;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      width: 100%;
    }

    .bio-nickname {
      font-size: 17px;
      font-weight: 600;
      font-style: italic;
      letter-spacing: 0.7px;
      white-space: nowrap;
      color: $secondary_text_color;
      line-height: 20px;
      width: 100%;
    }
}

.Quote {
    @extend .post-container;
    border: none;
    padding: 2px 8px 2px 4px;
    margin-top: 16px;
}

.quote-text {
    font-style: italic;
    font-size: $paragraph_text_size;
    line-height: 18px;
}


.link {
    color: $accent_color;
    line-height: 18px;
}

.Mobile-menu {
    display: none;
}

.My-Aside {
  padding-top: 24px;
  max-width: 280px;

  .CTA-button {
    margin-top: 32px;
}
}

.Wallet {
  padding-top:48px;
  height: 302px;
  text-align: center;
  background: url('./Wallet/wallet_background.svg') no-repeat;
  position: relative;

  .btc_address {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $secondary_text_color;
  }
    .balance {
      display: block;
      width: 100%;
      margin-top: 12px;
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 41px;
    }
  
    .balance_usd {
      @extend h4;
      font-style: italic;
      display: block;
      width: 100%;
    }

    .topup_block {
      display: block;
      width: 248px;
      margin-top: 32px;
      margin-right: 24px;
      padding: 0px 16px;
    }       
}

@media all and (max-width: 800px){
  .aside-2 {
    display: none;
  }
  .aside-1 {
    display: none;
  }
  .Mobile-menu {
    display: flex;
    margin-bottom: 32px;
  }
}
@media all and (max-width: 600px) {
    .Wallet {
        display: none;
    }

    .Mobile-menu {
        display: flex;
        margin-bottom: 32px;
    }

    .My-Aside {
        display: none;
    }

}


/* Base classes for all media - Mobile first */
.Grid--cols-2 > .Grid-cell {
  flex: 0 0 calc(100% - #{$gutter}); 
}

.Grid--cols-3 > .Grid-cell {
  flex: 0 0 1calc(100% - #{$gutter}); 
}

.Grid--cols-4 > .Grid-cell {
  flex: 0 0 calc(100% - #{$gutter});
}

.Grid--cols-6 > .Grid-cell {
  flex: 0 0 calc(50% - #{$gutter}); 
}

.Grid--cols-12 > .Grid-cell {
  flex: 0 0 calc(33.3333% - #{$gutter}); 
}

.Grid--twoasides {
  .aside, .feed {
    flex: 1 100%;
  }
}

/* One of -- columns*/
.Grid--1of2 > .Grid-cell,
.Grid--1of4 > .Grid-cell:first-of-type,
.Grid--1of3 > .Grid-cell:first-of-type{
  flex: 0 0 calc(100% - #{$gutter});
}
.Grid--1of6 > .Grid-cell:first-of-type {
  flex: 0 0 50%;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}
.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

/* Tablet (medium) screens */
@media (min-width: 30em) {
  .Grid--cols-4 > .Grid-cell {
    flex: 0 0 calc(50% - #{$gutter});     
  }
  .Grid--cols-6 > .Grid-cell {
    flex: 0 0 calc(33.3333% - #{$gutter});  
  }
  .Grid--cols-12 > .Grid-cell {
    flex: 0 0 calc(16.6666% - #{$gutter});  
  }
  .Grid--twoasides {
    .aside {
      flex: 1 calc(25% - #{$gutter});
    }
  }
  .Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 30%;
  }
  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 50%;
  }
  .Grid--1of3 > .Grid-cell:first-of-type {
    flex: 0 0 calc(100% - #{$gutter});
  }
}

/* Large screens */
@media (min-width: 48em) {
  .Grid--cols-2 > .Grid-cell,
  .Grid--cols-3 > .Grid-cell,
  .Grid--cols-4 > .Grid-cell,
  .Grid--cols-6 > .Grid-cell,
  .Grid--cols-12 > .Grid-cell{
    flex: 1;  
  }
  .Grid--twoasides {
    .feed    { flex: 2; }
    .aside   { flex: 1; }
    .aside-1 { order: 1; } 
    .feed    { order: 2; }
    .aside-2 { order: 3; }
  }
  .Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 16.6666%;
  }
  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 25%;
  }
  .Grid--1of3 > .Grid-cell:first-of-type {
    flex: 0 0 30%;
  }
  .Grid--gutters.Grid--nested {
    .Grid-cell:first-of-type {
      .Demo {
        margin-right: 0;
      }
    }
  }
}
  


