@import 'src/components/Main.scss';

.main_button{
    background: $button_background;
    border-radius: 4px;
    width: 100%;
    min-height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #f2f2f2;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    -webkit-line-clamp: 1;
    padding: 12px 12px 12px 12px;

    &:hover {
      cursor: pointer;
      background: darken(#8A6FF5, 5%);
      transition: cubic-bezier(.17,.67,.83,.67) 0.1s;
      box-shadow: 0px 0px 17px rgba(138, 111, 245, 0.6);
  }
}