@import 'src/components/Main.scss';
@import '../MainButton/MainButton.scss';

.secondary_button {
    @extend .main_button;
    background: rgba(161, 138, 255, 0.2);
    color: $accent_color;
    border: 2px solid $accent_color;
  
    &:hover {
      background: darken(rgba(161, 138, 255, 0.4), 10%);
      color: lighten($accent_color, 10%);
      transition: 0.9ms;
    }
  }