.mobile-profile-ava {
    display: inline-flex;
    height: 44px;
    width: 50%;
    align-items: center;
    justify-content: flex-start;

  }

  .mobile-wallet {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }