
@import '../Main.scss';

.post-container {
    margin-top: 16px;
    height: 100%;
    background: $card_background_color;
    border: 1px solid $card_border_color;
    border-radius: 4px;
    padding: 16px 16px 0px 16px;
}

.post-auth-desc {
  display: block;
  
  .author-photo {
    position: absolute;
    width: 32px;
  }
  
}

.author-info {
    margin-left: 40px;
    position: relative;
    

    .author-name {
      @extend h4;
        font-weight: 600;
        display: inline-block;
        width: 100%;
    }

    .author-nickname {
        color: $secondary_text_color;
    }

    .location {
        display: inline-block;
        margin-top: 4px;
        font-size: 13px;

        &:after {
          content: '';
          background: url('../Post/icons/dot_divider.svg') no-repeat;
          background-position: center center;
          width: 16px;
          height: 16px;
          padding-left: 24px;
        }
    }

    .post-date {
      @extend caption; 
    }
}

.post-content {
    .post_photo_solo {
        max-width: 1200px;
        padding-top: 16px;
    }

    .post_photo_solo {
        max-height: 480px;
        overflow: hidden;
        
        img {
            max-width: 1200px;
            width: 100%;
            height: auto;
            border-radius: 4px;
            //position: absolute;
        }
    }

    .divider {
      width: 100%;
      display: block;

      hr {
        border: 0.5px solid $secondary_text_color;
        opacity: 0.5;
      }
    }


    .ShareBlock {
      display: -webkit-box;
      width: 100%;
      height: 44px;
      display: -webkit-box;
      -webkit-box-align: center;
      font-weight: 400;
      //font-size: 13px;
      
      .like {
        margin-right: 32px;
        margin-bottom: 12px;

        &:hover {

          cursor: pointer;
          svg {
            fill: darken(#8A6FF5, 2%);
            transition: cubic-bezier(.17,.67,.83,.67) 0.1s;
          }

          .count {
            color: darken(#8A6FF5, 2%);
          }
        }
      }

      .icon {
        height: 24px;
        width: 24px;
        position: absolute;
        padding-right: 4px;
        display: block;

        svg {
          fill: $secondary_text_color;
        }

        .comment-icon {
          svg{
            fill: none;
          }
        }
      }

      .count {
        display: block;
        position: relative;
        padding-left: 28px;
        color: $secondary_text_color;
        padding-top: 3px;
      }

      .liked{
        color: $accent_color;

        svg {         
          fill: $accent_color;
          #comment-icon {
            fill: none;
          }
        }

      }
  }
}

@media all and (max-width: 600px) {
    .ShareBlock {
      font-size: 12px;
      
      .count{
        padding-left: 8px;
      }

      .icon img {
        width: 20px;
        height: 20px;
      }
    }
  }



